# ── General ───────────────────────────────────────────────────────────────────
TZ=America/Chicago

# ── Audiobookshelf ────────────────────────────────────────────────────────────
AUDIOBOOKS=
PODCASTS=
