# Timezone
TZ=America/Chicago

# Download paths
pinchflat_downloads=

# Plex specific
plex_claim=

# Media library paths
movies=
other_movies=
tv_shows=
other_shows=
kids_movies=
kids_tv_shows=
music=
home_movies=
