# Timezone
TZ=America/Chicago

# Published Jellyfin URL
jellyfin_url=

# Media library paths
movies=
other_movies=
tv_shows=
other_shows=
kids_movies=
kids_tv_shows=
pinchflat_downloads=
home_movies=
