# ── General ───────────────────────────────────────────────────────────────────
TZ=America/Chicago

# ── Jellyfin ──────────────────────────────────────────────────────────────────
JELLYFIN_URL=

# ── Shared media library paths ────────────────────────────────────────────────
MOVIES=
OTHER_MOVIES=
TV_SHOWS=
OTHER_SHOWS=
KIDS_MOVIES=
KIDS_TV_SHOWS=
PINCHFLAT_DOWNLOADS=
HOME_MOVIES=
